@import "tailwindcss";

@theme {
        --color-main: #121212 ;
        --color-primary: #E0E0E0;
        --color-secondary: #B0B0B0;
        --color-divider: #444444;
        --color-accent-color: #888888;
        --color-input: #1F1F1F;
        --color-brand: #E8A33D;
        --color-danger: #E5484D;
        --color-success: #34D399;

        /* Markdown Headings Styles */
        --text-h1: 1.70rem;
        --text-h2: 1.60rem;
        --text-h3: 1.50rem;
        --text-h4: 1.40rem;
        --text-h5: 1.30rem;
        --text-h6: 1.20rem;

}

/* Scrollbar */
@utility scrollbar-thin {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

@utility scrollbar-thumb-brand {
  scrollbar-color: var(--color-brand) currentColor;
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-brand);
    border-radius: 9999px;
  }
}

@utility scrollbar-track-main {
  scrollbar-color: currentColor var(--color-main);
  &::-webkit-scrollbar-track {
    background-color: var(--color-main);
  }
}

@layer base {
  html {
    @apply scrollbar-thin scrollbar-thumb-brand scrollbar-track-main;
  }
}

/* react-toastify */
:root {
  --toastify-color-dark: var(--color-input);
  --toastify-text-color-dark: var(--color-primary);

  --toastify-color-info: var(--color-info);
  --toastify-color-success: var(--color-success);
  --toastify-color-warning: var(--color-brand);
  --toastify-color-error: var(--color-danger);

  --toastify-font-family: inherit;
}

.Toastify__toast {
  border: 1px solid var(--color-divider);
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.4);
  font-size: 0.875rem;
  padding: 0.5rem;
}

.Toastify__close-button {
  color: var(--color-accent-color);
  opacity: 1;
}
.Toastify__close-button:hover {
  color: var(--color-primary);
}
