@import "tailwindcss";

@theme {
        --color-main: #121212 ;
        --color-primary: #E0E0E0;
        --color-secondary: #B0B0B0;
        --color-divider: #444444;
        --color-accent-color: #888888;
        --color-input: #1F1F1F;
        --color-brand: #E8A33D;
        --color-danger: #E5484D;
        --color-success: #34D399;

        /* Markdown Headings Styles */
        --text-h1: 1.70rem;
        --text-h2: 1.60rem;
        --text-h3: 1.50rem;
        --text-h4: 1.40rem;
        --text-h5: 1.30rem;
        --text-h6: 1.20rem;

}